form input{
    display: inline-block;
    margin: var(--space-small) 0;
    width: 95%;
    height: 44px;
    border: none;
}
form textarea{
    display: block;
    margin: var(--space-small) 0;
    width: 95%;
    height: 88px;
    border: none;
}